body {
  font-family: 'Source Code Pro', monospace;
  background-color: #101827;
}

.card {
  border: 10px solid #101827;
  text-align: center;
  padding: 20px;
  background-color: #1f2937;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-container {
  padding: 30px;
}

.tag {
  background-color: black;
  width: 10%;
  height: 30%;
  margin: 10px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0%;
}

#search {
  width: 25%;
  height: 30px;
  border: 1px solid #101827;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}